<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="fr">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="stylesheet" href="../css/style.css"/>
    <title>Les Calamars</title>
</head>
<body>
    <div id="nav-bar">
        <ul id="menu">
            <li>
                <a href="../index.html">Accueil</a>
            </li>
            <li>
                <a href="./page_particularites.html">Leurs particularités</a>
            </li>
            <li>
                <a href="./page_lieu_vie.html">Où vivent-t-ils ?</a>
            </li>
            <li>
                <a href="./page_a_propos.html">A propos</a>
            </li>
        </ul>
    </div>
    <table cellpadding="15" border="1" id="tableau">
    <h1>A propos</h1><br/><br/>
        <tr>
            <th>Nom</th>
            <th>Michel</th>
            <th>Gross</th>
        </tr>
        <tr>
            <th>Prénom</th>
            <th>Evan</th>
            <th>Sébastien</th>
        </tr>
        <tr>
            <th>Adresse email</th>
            <th>evan.michel.fr@gmail.com</th>
            <th>sebastiengross677@gmail.com</th>
        </tr>
        <tr>
            <th>Classe</th>
            <th>1G3</th>
            <th>1G3</th>
        </tr>
        <tr>
            <th>Pension</th>
            <th>Demi-pensionnaire</th>
            <th>Demi-pensionnaire</th>
        </tr>
        <tr>
            <th>Adresse</th>
            <th>Mertzwiller</th>
            <th>Sessenheim</th>
        </tr>
        <tr>
            <th>Objectif des études</th>
            <th>Devenir développeur <br/> d'intelligence artificielle</th>
            <th>Informaticien</th>
        </tr>
        <tr>
            <th>Qu'est-ce que j'aime <br/> dans l'informatique</th>
            <th>Le fait que l'on puisse tout<br/>faire avec l'informatique</th>
            <th>Il y a beaucoup de <br/> nouveautés au fil du temps</th>
        </tr>
    </table> <br/>
    <img src="../img/calamar_a_propos.png" id="calamar_a_propos"/>
    <p id="signature">Les créateurs du site sont : Evan & Sébastien<br/><br/></p>
</body>
</html>

