<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="fr">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="stylesheet" href="../css/style.css"/>
    <title>Les Calamars</title>
</head>
<body>
    <div id="nav-bar">
        <ul id="menu">
            <li>
                <a href="../index.html">Accueil</a>
            </li>
            <li>
                <a href="./page_particularites.html">Leurs particularités</a>
            </li>
            <li>
                <a href="./page_lieu_vie.html">Où vivent-t-ils ?</a>
            </li>
            <li>
                <a href="./page_a_propos.html">A propos</a>
            </li>
        </ul>
    </div>
    <h1>Où vivent-t-ils ?</h1><br/>
    <img src="../img/calamar_lieu_de_vie.jpg"/><br/><br/>
    <p>      
        Les calmars ont colonisé tous les océans du monde et la plupart des mers. On les trouve aussi bien dans les eaux chaudes
        des récifs coralliens, que dans les eaux froides des deux cercles polaires. <br/><br/>
        Parmi les 300 espèces de calmar existantes, certaines vivent à proximité des côtes, presque en surface. D'autres,
        au contraire, séjournent à de grandes profondeurs. Les juvéniles des <br/> espèces abyssales vivent près de la surface, 
        où ils ne sont guère repérables grâce à leur transparence. Ils descendront de plus en plus profondément au fil de leur 
        croissance. <br/><br/>
        Bien que les calmars aient réussi à coloniser toutes les étendues d'eau salée, on ne trouve pas de calmars en eau douce, 
        ni même aucun céphalopode. <br/> Toutefois le calmar Lolliguncula brevis, vivant dans la baie de Chesapeake, s'avère être une 
        exception puisqu'il tolère l'eau saumâtre. Dans cette baie, la salinité est <br/> aussi faible que 8,5 parties pour mille 
        (environ le quart de celle de l'océan)
    </p>
</body>
</html>