<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="fr">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="stylesheet" href="../css/style.css"/>
    <title>Les Calamars</title>
</head>
<body>
    <div id="nav-bar">
        <ul id="menu">
            <li>
                <a href="../index.html">Accueil</a>
            </li>
            <li>
                <a href="./page_particularites.html">Leurs particularités</a>
            </li>
            <li>
                <a href="./page_lieu_vie.html">Où vivent-t-ils ?</a>
            </li>
            <li>
                <a href="./page_a_propos.html">A propos</a>
            </li>
        </ul>
    </div>

    <h1 class="text-center">Les caractéristiques</h1>

    <u><p id="Cuisine">I)La cuisine</p></u>

    <p id="intro">Tout d'abord leur particularités la plus importante est le fait que les calamars sont comestibles !! Le nombres de plats qu'on peut faire avec, est incalculable, il y a une infinité de possibilité.<br/><br/>Exemples de recettes:</p>

     <table id="tabPart" cellpadding="3" border="1">
        <tr>
            <th>Recettes</th>
            <th>Description</th>
            <th>Liens</th>
        </tr>
        <tr>
            <th>Calamars à l'armoricaine</th>
            <th>Une recette qui vous ferras voyager en mer</th>
            <th><a class="lien_tab_part" target="_blank" href="https://www.marmiton.org/recettes/recette_calamars-a-l-armoricaine_31894.aspx">Clique ici</a></th>
        </tr>
        <tr>
            <th>Calamars à la catalane</th>
            <th>La meilleur des recettes pour draguer une filles</th>
            <th><a class="lien_tab_part" target="_blank" href="https://lacuisinedannie.20minutes.fr/recette-calamar-a-la-catalane-19.htmls">Clique ici</a></th>
        </tr>
        <tr>
            <th>Calamars à l'ail et au vin blanc</th>
            <th>La recette qui ferra plaisir à mamie !</th>
            <th><a class="lien_tab_part" target="_blank" href="https://www.cuisineaz.com/recettes/calamars-a-l-ail-et-au-vin-blanc-5762.aspx">Clique ici</a></th>
        </tr>
    </table id="tabPart" > <br/>

    <p id="imageParti"><img src="../img/Calamar_A_LaCatalane.jpg"/> <img src="../img/Calamar_A_Lamoricaine.jpg"/> <img src="../img/Calamar_A_Lail_Et_Au_Vin_Blanc.jpg"/></p>

   <u><p class="Titre">II)Leurs taille & leurs alimentation</p></u>

   <p>La majorité des calamars ne dépassent pas 60 cm de long, mais certains calamars atteignent une taille jusqu'a dix fois supèrieur. Les plus grands calamars vivents dans les abysses des océans.Cependant il existe des calamars géants, qui peuvent mesurer jusqu'a 13 mètres de long (à ce jour le plus grand attrapé). Le premier calamar géant a été attrapé en février 2007, il mesuré 10 mètres de long pour 465 kilos!</p>

   <p><img class="calamar" src="../img/calmar_géant.jpg"/> <img class="calamar" src="../img/Calamar_normal.jpg"/></p> 

   <p>Tous les calmars sont des prédateurs, à la possible exception des calmars à longs bras. Ils s'attaquent principalement aux poissons, aux crustacés ainsi qu'à d'autres mollusques. Les calmars sont occasionnellement cannibales, les plus grands calmars pouvant s'attaquer aux plus petits</p>

   <u><p class="Titre">III)Locomotion</p></u>

   <p>Les nageoires, aussi appelées ailettes, contrairement aux autres animaux marins, ne sont pas la principale source de locomotion chez la plupart des espèces de calmar. Elles ne servent généralement que pour les déplacements lents, comme l'approche d'une proie. Pour les déplacements rapides, le calmar utilise un système de propulsion par réaction, en utilisant son manteau (le haut de sa tête) qui laisse entrer de l'eau par des trous.Suite à cela, il contracte son manteau pour faire sortir l'eau à une vitesse fulgurante, ce qui le propulse rapidement.</p>
   

   <p><img src="../img/Manteau_Calamar.jpg"/></p>

   <p><strong>Le manteau est ici représenté par le numéro 7</strong></p>

   <u><p class="Titre">IV)Encre</p></u>
   
   <p>Dans le manteau se trouve une glande qui secrète de la sépia, une encre noirâtre, liquide et dense. Quelques gouttes de cette substance suffisent à troubler l'eau autour du calmar afin de prendre la fuite face à un prédateur. Il fut un moment où les êtres humains utilisés l'encre des calamars pour l'encre des stylos, où encore pour des feutres ou autres outils de colorations. </p>

   <img src="../img/Calamar_Encre.jpg"></p>
   

</body>
</html>